body {
    margin: 0;
    padding: 0;
}

.principal{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.menu{
    width: 30%;
    height: 80vh;
    background-color: blanchedalmond;
}

.contenedor{
    width: 70%;
    height: 80vh;
    
}

.reproductor{
    width: 100%;
    height: 20vh;
    background-color: red;
}

.buscador{
    width: 100%;
    height: 20%;
    background-color: darkkhaki;
}

.contenido{
    width: 100%;
    height: 80%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}

.card {
    margin: 5px;
    display: flex;
    flex-direction: row;
}
.imgStyle{
    width: 100px!important;
    height: 100px!important;
}
.cardStyle{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}
.songname{
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: black;
}
.artistname{
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    color: white;
    background-color: black;
}
.inputBuscador {
    background: #858585;
    width: 70%;
    border-radius: 10px;
}
.iconoBuscar {
    margin-left: 10px;
    color: white;
}
